<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
        
                <!-- Optional theme -->
                <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous'>
        
                <!-- Latest compiled and minified JavaScript -->
                <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
        </head>
    <title>Document</title>
</head>
<body>
    <h1 style="align-content: center">
        welcome to the feedback form!
    </h1>
    <form class="jumbotron" method="POST">
        {{form.hidden_tag()}}
        What's your name?: {{form.name()}}<br> 
        Are you above 18? {{form.Age()}} <br>
        your major? : {{form.major()}} <br>
        you gender?: {{form.gen()}} <br>
        What's you feedback?:
        {{form.feedback()}}
        <br>{{form.submit()}}
    </form>
    
</body>
</html>